/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Global */
body {
    line-height: 1.6;
    color: #333;
}
a {
   text-decoration: none; 
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.section {
    padding: 4rem 0;
}

.section.light {
    background: #f4f6f8;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

/* Header */
header {
    background: #0a192f;
    padding: 1rem 0;
}

.logo {
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #64ffda;
}

/* Hero */
.hero {
    background: linear-gradient(135deg, #0a192f, #112240);
    color: #fff;
    padding: 5rem 0;
    text-align: center;
}

.hero span {
    color: #64ffda;
}

.btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    background: #64ffda;
    color: #0a192f;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.nicebtn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    background: #112240;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Projects */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Skills */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.skills-list li {
    background: #0a192f;
    color: #fff;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

/* Footer */
footer {
    background: #0a192f;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
